<div class="container">
    <div class="title"><h2>About Us</h2></div>
    <div class="main-content">
        <h3>Past Performances and Partnerships</h3>
        <h4>Parades, Corporate Events, Dedications, and Other Events</h4>
        <ul>
            <li>The Kansas City St. Patrick's Day Parade</li>
            <li>The Snake Saturday Parade, North Kansas City, MO</li>
            <li>The Brookside St. Patrick's Parade, Kansas City, MO</li>
            <li>The St. Andrew Society Annual Burns Dinner, Kansas City, MO</li>
            <li>The Marine Corps Ball, Kansas City, MO</li>
            <li>Kirkin' O' the Tartan, Grace and Holy Trinity Cathedral, Kansas City, MO</li>
            <li>St. Andrew's Day Celebration, St. Andrew Episcopal Church, Kansas City, MO</li>
            <li>Featured halftime performers for the Kansas City Chiefs</li>
            <li>National Churchill Museum 50th Anniversary Parade, Fulton, MO</li>
            <li>Destination Imagination Global Finals, Kansas City, MO</li>
            <li>The Kansas City 9-11 Memorial Stair Climb, Kansas City, MO</li>
            <li>McGurk's Irish Pub, St. Louis, MO</li>
            <li>Plattsburg Fall Festival, Plattsburg, MO</li>
            <li>The Neewollah Festival Parade, Neewollah, KS</li>
            <li>The Sedalia, MO St. Patrick's Parade</li>
            <li>The Centennial Rededication of Longview Farm, Kansas City, MO</li>
        </ul>
        <h4>Concerts</h4>
        <ul>
            <li>Kansas City Irish Festival, Kansas City, MO</li>
            <li>Ethnic Enrichment Festival, Kansas City, MO</li>
            <li>Fred Morrison with the KC St. Andrew Pipes and Drums, Kansas City, MO</li>
            <li>Winter Storm 2017 The Pipes and Drums Concert, Kansas City, MO</li>
            <li>Winter Storm 2016 The Pipes and Drums Concert, Kansas City, MO</li>
            <li>Winter Storm 2015 The Pipes and Drums Concert, Kansas City, MO</li>
            <li>Winter Storm 2014 The Pipes and Drums Concert, Kansas City, MO</li>
            <li>Featured guests of The Chieftains - 2015, Kansas City, MO</li>
            <li>Featured guests of The Chieftains - 2015, Manhattan, KS</li>
            <li>Featured guests of The Chieftains - 2012, Kansas City, MO</li>
            <li>Celtic Fusion - 2010, Unity on the Plaza, Kansas City, MO</li>
            <li>Celtic Fusion - 2007, Rose Theatre, Kansas City, MO</li>
            <li>Wallace's Badge - 2006, Rose Theatre, Kansas City, MO</li>
            <li>Browne's Irish Street Fair, Kansas City, MO</li>
            <li>Weston Irish Festival, Kansas City, MO</li>
        </ul>
        <h4>College and University Commencement Ceremonies</h4>
        <ul>
            <li>Baker University</li>
            <li>Columbia College - Columbia, MO</li>
            <li>The University of Missouri - Kansas City</li>
            <li>Rockhurst University</li>
            <li>Washburn University</li>
            <li>William Jewell University</li>
            <li>University of Phoenix</li>
            <li>DeVry University</li>
            <li>Cristo Rey High School</li>
        </ul>
        <hr>
        <h3>Awards & Honors</h3>
        <h4>Pipe Major Award</h4>
        <ul>
            <li>Rob McAtee - 2023</li>
            <li>Don Forsyth - 2020</li>
            <li>Griffin Hall - 2019</li>
            <li>Kevin Regan - 2018</li>
            <li>David McNally - 2017</li>
            <li>Anna Oyler - 2016</li>
            <li>Anna Oyler - 2016</li>
            <li>Kathy Burke-Thomas - 2014</li>
            <li>Iain McKee - 2013</li>
            <li>Lee Wilson - 2012</li>
            <li>Neil Womelduff - 2011</li>
            <li>Brandon Ward - 2010</li>
            <li>John Feehan - 2009</li>
            <li>Jim Higgins - 2007</li>
            <li>Dorothy May - 2006</li>
            <li>Billie McKee - 2005</li>
            <li>Steve Chandler - 2001</li>
            <li>Tommy McKee - 2000</li>
            <li>Rick Southhall - 1999</li>
            <li>Brain McBrayer - 1998</li>
            <li>C. B. Francisco - 1997</li>
            <li>Wallace McKee - 1996</li>
        </ul>
    </div>
    <div class="left-article">
        <mat-card>
            <mat-card-header>
                <mat-card-title>Links</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <ul>
                    <li><a href="https://www.facebook.com/Kansas-City-St-Andrew-Pipes-and-Drums-273250496949" target="_blank">
                        <span>
                          <svg class="icon" xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 24 24"><path d="M22.675 0h-21.35c-.732 0-1.325.593-1.325 1.325v21.351c0 .731.593 1.324 1.325 1.324h11.495v-9.294h-3.128v-3.622h3.128v-2.671c0-3.1 1.893-4.788 4.659-4.788 1.325 0 2.463.099 2.795.143v3.24l-1.918.001c-1.504 0-1.795.715-1.795 1.763v2.313h3.587l-.467 3.622h-3.12v9.293h6.116c.73 0 1.323-.593 1.323-1.325v-21.35c0-.732-.593-1.325-1.325-1.325z"/></svg>
                          Kansas City St. Andrew Pipes and Drums Facebook
                        </span>
                      </a></li>
                    <li><a href="https://www.kcscot.org/" target="_blank">Kansas City St. Andrew Society</a></li>
                    <li><a href="https://www.kchighlanddancers.com/" target="_blank">Kansas City St. Andrew Highland Dancers</a></li>
                    <li><a href="http://mwpba.org/" target="_blank">Midwest Pipe Band Association</a></li>
                    <li><a href="https://wuspba.org/" target="_blank">Western US Pipe Band Association</a></li>
                    <li><a href="https://www.jhiggins.net/" target="_blank">J Higgins (Uniforms, Pipe band supplies)</a></li>
                    <li><a href="https://mhaf.org/" target="_blank">Winter Storm (Pipes and Drums Workshop and Concert)</a></li>
                </ul>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="right-article">
        <mat-card>
            <mat-card-header>
                <mat-card-title>Tartan</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <p>Our uniform kilt is the MacDonnell of Keppoch tartan</p>
                <div style="overflow: hidden;">
                    <img class="responsive" style="max-height:450px; max-width:450px;" src="../../assets/tartan.webp">
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>