<div class="container">
    <div class="main-content">        
          <mat-card>
            <mat-card-header>
                <mat-card-title>Booking</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <p>
                    For inquiries about hiring a piper or drummer, or the band, please check out the <a routerLink="/hire">Hire Us</a> 
                    page or contact our Business Manager below.
                </p>
                <p>
                    <b>Rory McKee</b><br>
                    <a href="mailto:BusinessManager@kcpipeband.org" target="_self">BusinessManager@kcpipeband.org</a>
                </p>
            </mat-card-content>
        </mat-card>        
    </div>
    <div class="left-article">
        <mat-card>
            <mat-card-header>
                <mat-card-title>Lessons</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <p>
                    The Kansas City St. Andrew Pipes & Drums practices Tuesday nights from 7:00pm to 9:00pm at St. Andrew's Episcopal Church.
                </p>
                <p>
                    <b>Bagpipe Students</b><br>
                    Please contact our bagpipe student coordinator, Dorothy May <a href="mailto:BagpipeLessons@kcpipeband.org?subject=I'd like info on piping lessons!" target="_self">BagpipeLessons@kcpipeband.org</a>.
                </p>
                <p>
                    <b>Drum Students (Snare, Tenor & Bass)</b><br>
                    Please contact our Drum Sergeant, Kyle Womelduff <a href="mailto:DrumLessons@kcpipeband.org?subject=I'd like info on drumming!" target="_self">DrumLessons@kcpipeband.org</a>.
                </p>
                <p>
                    Practice Address:<br><a href="https://goo.gl/maps/53YHKBX58Lx6jknA7" target="_blank">St Andrew's Episcopal Church<br>6401 Wornall Terrace, Kansas City, MO 64113</a>
                </p>  
            </mat-card-content>
        </mat-card>
    </div>
    <div class="right-article">
        <mat-card>
            <mat-card-header>
                <mat-card-title>Mailing Address & General Questions</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <p>
                    PO Box 648<br>
                    Shawnee Mission, KS 66201-0648
                </p>
                <a href="mailto:PipesandDrumsKC@kcpipeband.org" target="_self">PipesandDrumsKC@kcpipeband.org</a>
            </mat-card-content>
        </mat-card>
    </div>
</div>