<div class="container">
    <div class="main-content">
        <mat-grid-list cols="{{ galleryColCount }}" rowHeight="370px">
            <mat-grid-tile *ngFor="let gallery of currentGalleriesPage">
                <mat-card [style.width.px]=288>
                    <mat-card-header>
                        <mat-card-title>{{gallery.title}}</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <a [routerLink]="['/photos', gallery.galleryId]">
                            <img mat-card-image src="{{ gallery.src.replace('assets/', 'assets/optimized/').replace('.jpg', '.webp').replace('.jpeg', '.webp').replace('.JPG', '.JPG.webp') }}" alt={{gallery.title}} style="width: 256px; height: 256px; object-fit: cover;">
                        </a>
                    </mat-card-content>
                </mat-card>
            </mat-grid-tile>
        </mat-grid-list>
        <mat-paginator 
            [length]="galleries.length" 
            [pageSize]="pageSize" 
            [pageSizeOptions]="[3, 6, 9, 12]"
            (page)="getServerData($event)"
            aria-label="Select page">
        </mat-paginator>
    </div>
</div>