<div class="mat-app-background" [class.loading]="isLoading">
  <div id="loading-overlay" style="display: none;">
    <div class="spinner"></div>
  </div>
  <div class="title">
    <div class="container">
    <div class="title-icon-grid">
        <img id="title-icon" src="../assets/optimized/band_logo.webp" alt="band logo" fetchpriority="high">
    </div>
    <div class="title-grid">
        <h1 id="title-text">Welcome to the Kansas City St. Andrew Pipes & Drums</h1>
    </div>
    </div>
</div>
  <nav mat-tab-nav-bar id="tab-nav" backgroundColor="primary" [tabPanel]="tabPanel">
    <a mat-tab-link *ngFor="let link of navLinks" [routerLink]="link.link" routerLinkActive #rla="routerLinkActive"
      [active]="rla.isActive">
      <h2>{{link.label}}</h2>
    </a>
  </nav>
  <mat-tab-nav-panel #tabPanel></mat-tab-nav-panel>

  <mat-toolbar color="primary">
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span style="flex: 1 1 auto;"></span>
    <a href="https://www.facebook.com/Kansas-City-St-Andrew-Pipes-and-Drums-273250496949" target="_blank">
      <svg class="icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M22.675 0h-21.35c-.732 0-1.325.593-1.325 1.325v21.351c0 .731.593 1.324 1.325 1.324h11.495v-9.294h-3.128v-3.622h3.128v-2.671c0-3.1 1.893-4.788 4.659-4.788 1.325 0 2.463.099 2.795.143v3.24l-1.918.001c-1.504 0-1.795.715-1.795 1.763v2.313h3.587l-.467 3.622h-3.12v9.293h6.116c.73 0 1.323-.593 1.323-1.325v-21.35c0-.732-.593-1.325-1.325-1.325z"/></svg>
    </a>
  </mat-toolbar>

  <mat-menu #menu="matMenu">
    <button mat-menu-item *ngFor="let link of navLinks" [routerLink]="link.link">
      {{link.label}}
  </button>
  </mat-menu>

  <body class="app-content">
    <router-outlet></router-outlet>
  </body>

  <footer>
    <div class="container">
      <div class="col-1">
        <a href="https://www.facebook.com/Kansas-City-St-Andrew-Pipes-and-Drums-273250496949" target="_blank">
          <span>
            <svg class="icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M22.675 0h-21.35c-.732 0-1.325.593-1.325 1.325v21.351c0 .731.593 1.324 1.325 1.324h11.495v-9.294h-3.128v-3.622h3.128v-2.671c0-3.1 1.893-4.788 4.659-4.788 1.325 0 2.463.099 2.795.143v3.24l-1.918.001c-1.504 0-1.795.715-1.795 1.763v2.313h3.587l-.467 3.622h-3.12v9.293h6.116c.73 0 1.323-.593 1.323-1.325v-21.35c0-.732-.593-1.325-1.325-1.325z"/></svg>
          </span>
        </a>
      </div>
      <div class="col-2">
        © Copyright 2023 Kansas City St. Andrew Pipes & Drums<br>
        All rights reserved.
      </div> 
      <div class="col-3">
        <span style="padding-left: 10px">
          PO Box 648<br>
          Shawnee Mission, KS 66201-0648
        </span>
      </div> 
    </div>
  </footer>
</div>
