<div class="container">
    <div class="main-content">
        <h2>2026 Performances</h2>
        <mat-list>
            <mat-list-item>
                <span matListItemTitle><a href="https://kcscot.org/event-6381836" target="_blank" rel="noopener noreferrer">Robert Burns Dinner</a></span>
                <span matListItemLine>The Kansas City Club, Kansas City, MO</span>
                <span matListItemLine>January 24, 2026</span>
            </mat-list-item>
            <mat-list-item>
                <span matListItemTitle>A Celtic Spring Concert</span>
                <span matListItemLine>Rockhurst High School (Rose Theater), Kansas City, MO</span>
                <span matListItemLine>March 7, 2026</span>
            </mat-list-item>
            <mat-list-item>
                <span matListItemTitle>Emporia St. Patrick's Day Parade</span>
                <span matListItemLine>Emporia, KS</span>
                <span matListItemLine>March 14, 2026</span>
            </mat-list-item>
            <mat-list-item>
                <span matListItemTitle><a href="https://q104kc.com/event/snake-saturday-parade-festival/" target="_blank" rel="noopener noreferrer">Snake Saturday Parade</a></span>
                <span matListItemLine>North Kansas City, MO</span>
                <span matListItemLine>March 14, 2026</span>
            </mat-list-item>
            <mat-list-item>
                <span matListItemTitle><a href="https://www.kcirishparade.com/" target="_blank" rel="noopener noreferrer">Kansas City St. Patrick's Day Parade</a></span>
                <span matListItemLine>Kansas City, MO</span>
                <span matListItemLine>March 17, 2026</span>
            </mat-list-item>
            <mat-list-item>
                <span matListItemTitle><a href="https://stlouis-scottishgames.com/" target="_blank" rel="noopener noreferrer">St. Louis Highland Games</a></span>
                <span matListItemLine>DuPage County Fairgrounds, IL</span>
                <span matListItemLine>May 16, 2026</span>
            </mat-list-item>
            <mat-list-item>
                <span matListItemTitle>Baker University Graduation</span>
                <span matListItemLine>Baldwin City, KS</span>
                <span matListItemLine>May 17, 2026</span>
            </mat-list-item>
            <mat-list-item>
                <span matListItemTitle><a href="https://www.scottishfestivalchicago.org" target="_blank" rel="noopener noreferrer">Chicago Scots Highland Games</a></span>
                <span matListItemLine>DuPage County Fairgrounds, IL</span>
                <span matListItemLine>June 12–13, 2026</span>
            </mat-list-item>
            <mat-list-item>
                <span matListItemTitle><a href="http://mnscottishfair.org/" target="_blank" rel="noopener noreferrer">Minnesota Scottish Fair & Highland Games</a></span>
                <span matListItemLine>St. Paul, MN</span>
                <span matListItemLine>July 18, 2026</span>
            </mat-list-item>
            <mat-list-item>
                <span matListItemTitle><a href="https://www.theworldwar.org/events/remembering-911-day-reflection" target="_blank" rel="noopener noreferrer">Taps at the Tower</a></span>
                <span matListItemLine>National WWI Museum, Kansas City, MO</span>
                <span matListItemLine>August 5, 2026</span>
            </mat-list-item>
            <mat-list-item>
                <span matListItemTitle><a href="https://www.visitkc.com/events/ethnic-enrichment-festival/" target="_blank" rel="noopener noreferrer">Ethnic Enrichment Festival</a></span>
                <span matListItemLine>Swope Park, Kansas City, MO</span>
                <span matListItemLine>August 23, 2026</span>
            </mat-list-item>
            <mat-list-item>
                <span matListItemTitle><a href="https://www.wisconsinscottish.org/" target="_blank" rel="noopener noreferrer">Wisconsin Highland Games</a></span>
                <span matListItemLine>Crown Center, Kansas City, MO</span>
                <span matListItemLine>September 5, 2026</span>
            </mat-list-item>
            <mat-list-item>
                <span matListItemTitle><a href="https://www.raymore.com/Home/Components/Calendar/Event/3947/" target="_blank" rel="noopener noreferrer">Raymore Arts Commission Concert (with The Biscuit Boys)</a></span>
                <span matListItemLine>Hawk Ridge Park Amphitheater, Raymore, MO</span>
                <span matListItemLine>September 11, 2026</span>
            </mat-list-item>
        </mat-list>
        <a [routerLink]="['/about']"><h3>Past Performances</h3></a>
    </div>
    <div class="right-article">
        <p>
            <img class="responsive" src="../../assets/190720 21_1.webp">
        </p>
        <p>
            <img class="responsive" src="../../assets/bass_drum.webp">
        </p>
    </div>
</div>