<div class="container">
    <div class="main-content">
        <h2>2024 Performances</h2>
        <mat-list>
            <mat-list-item>
                <span matListItemTitle><a href="https://www.kcscot.org/" target="_blank" rel="noopener noreferrer">Robert Burns Dinner</a></span>
                <span matListItemLine>Starlight Theater Applause Club - Kansas City, MO</span>
                <span matListItemLine>January 27, 2024</span>
            </mat-list-item>
            <mat-list-item>
                <span matListItemTitle><a href="https://www.eventbrite.com/e/celtic-fusion-2024-with-kc-st-andrew-pipes-drums-tickets-774919333587" target="_blank" rel="noopener noreferrer">Celtic Fusion 2024 with KC St. Andrew Pipes & Drums</a></span>
                <span matListItemLine>The Irish Cultural Center - Kansas City, MO</span>
                <span matListItemLine>March 1, 2024</span>
            </mat-list-item>
            <mat-list-item>
                <span matListItemTitle><a href="https://snakesaturday.com/" target="_blank" rel="noopener noreferrer">Snake Saturday Parade</a></span>
                <span matListItemLine>North Kansas City, MO</span>
                <span matListItemLine>March 16, 2024 11AM</span>
            </mat-list-item>
            <mat-list-item>
                <span matListItemTitle><a href="https://emporiamainstreet.com/events/stpaddys/" target="_blank" rel="noopener noreferrer">Emporia St Patrick's Day Parade</a></span>
                <span matListItemLine>Emporia, KS</span>
                <span matListItemLine>March 16, 2024 1PM</span>
            </mat-list-item>
            <mat-list-item>
                <span matListItemTitle><a href="https://www.kcirishparade.com/" target="_blank" rel="noopener noreferrer">Kansas City St Patrick's Day Parade</a></span>
                <span matListItemLine>Kansas City, MO</span>
                <span matListItemLine>March 17, 2024 11AM</span>
            </mat-list-item>
            <mat-list-item>
                <span matListItemTitle><a href="https://stlouis-scottishgames.com/" target="_blank" rel="noopener noreferrer">St. Louis Highland Games</a></span>
                <span matListItemLine>Schroeder Park, Manchester, MO</span>
                <span matListItemLine>May 11, 2024</span>
            </mat-list-item>
            <mat-list-item>
                <span matListItemTitle><a href="https://chicagoscots.org/festival/" target="_blank" rel="noopener noreferrer">Chicago Scots Scottish Festival and Highland Games</a></span>
                <span matListItemLine>DuPage County Fairgrounds, Wheaton, IL</span>
                <span matListItemLine>June 15, 2024</span>
            </mat-list-item>
            <mat-list-item>
                <span matListItemTitle><a href="https://www.mnscottishfair.org/" target="_blank" rel="noopener noreferrer">Minnesota Scottish Fair and Highland Games</a></span>
                <span matListItemLine>Macalester College, St Paul, MN</span>
                <span matListItemLine>July 13, 2024</span>
            </mat-list-item>
            <mat-list-item>
                <span matListItemTitle><a href="https://eeckc.org/ethnic-enrichment-fest" target="_blank" rel="noopener noreferrer">Kansas City Ethnic Enrichment Festival</a></span>
                <span matListItemLine>Swope Park, Kansas City, MO</span>
                <span matListItemLine>August 17, 2024</span>
            </mat-list-item>
            <mat-list-item>
                <span matListItemTitle><a href="https://okscotfest.com/">Oklahoma ScotFest</a></span>
                <span matListItemLine>Broken Arrow Event Complex, Broken Arrow, Oklahoma</span>
                <span matListItemLine>Sept 14, 2024</span>
            </mat-list-item>
        </mat-list>
        <a [routerLink]="['/about']"><h3>Past Performances</h3></a>
    </div>
    <div class="right-article">
        <p>
            <img class="responsive" src="../../assets/190720 21_1.webp">
        </p>
        <p>
            <img class="responsive" src="../../assets/bass_drum.webp">
        </p>
    </div>
</div>