<div class="container">
    <div class="main-content">
        <h2>2023 Performances</h2>
        <mat-list>
            <mat-list-item>
                <span matListItemTitle>Robert Burns Dinner</span>
                <span matListItemLine>Marriott KC Country Club Plaza</span>
                <span matListItemLine>January 28, 2023</span>
            </mat-list-item>
            <mat-list-item>
                <span matListItemTitle>Snake Saturday Parade</span>
                <span matListItemLine>North Kansas City, MO</span>
                <span matListItemLine>March 11, 2023 9AM</span>
            </mat-list-item>
            <mat-list-item>
                <span matListItemTitle>Brookside St Patrick's Parade</span>
                <span matListItemLine>March 11, 2023 1PM</span>
                <span>Canceled due to weather</span>
            </mat-list-item>
            <mat-list-item>
                <span matListItemTitle>Kansas City St Patrick's Day Parade</span>
                <span matListItemLine>March 17, 2023 11AM</span>
            </mat-list-item>
            <mat-list-item>
                <span matListItemTitle>Emporia St. Patrick's Day Parade</span>
                <span matListItemLine>Emporia, KS</span>
                <span matListItemLine>March 18, 2023</span>
            </mat-list-item>
            <mat-list-item>
                <span matListItemTitle>Special Forces Ball</span>
                <span matListItemLine>Embassy Suites, KCI</span>
                <span matListItemLine>May 6, 2023 5PM</span>
            </mat-list-item>
            <mat-list-item>
                <span matListItemTitle>Baker University Commencement</span>
                <span matListItemLine>Baldwin City, KS</span>
                <span matListItemLine>May 21, 2023</span>
            </mat-list-item>
            <mat-list-item>
                <span matListItemTitle><a href="https://chicagoscots.org/festival/" target="_blank">Chicago Highland Games</a></span>
                <span matListItemLine>Itasca, IL</span>
                <span matListItemLine>June 17, 2023</span>
            </mat-list-item>
            <mat-list-item>
                <span matListItemTitle><a href="https://eeckc.org/" target="_blank">Kansas City Ethnic Enrichment Festival</a></span>
                <span matListItemLine>Swope Park</span>
                <span matListItemLine>August 19, 2023</span>
            </mat-list-item>
            <mat-list-item>
                <span matListItemTitle><a href="https://www.kcirishfest.com/" target="_blank">Irish Fest</a></span>
                <span matListItemLine>Kansas City, MO</span>
                <span matListItemLine>Sept 2 & 3, 2023</span>
            </mat-list-item>
            <mat-list-item>
                <span matListItemTitle><a href="https://okscotfest.com/">Tulsa Highland Games - Scotfest</a></span>
                <span matListItemLine>Broken Arrow, Oklahoma</span>
                <span matListItemLine>Sept 16, 2023</span>
            </mat-list-item>
            <mat-list-item>
                <span matListItemTitle>Kirking of the Tartan</span>
                <span matListItemLine>Grace & Holy Trinity Church</span>
                <span matListItemLine>Nov 12, 2023</span>
            </mat-list-item>
            <mat-list-item>
                <span matListItemTitle>St. Andrew Day</span>
                <span matListItemLine>St Andrew Episcopal</span>
                <span matListItemLine>Nov 26, 2023</span>
            </mat-list-item>
        </mat-list>
        <a [routerLink]="['/about']"><h3>Past Performances</h3></a>
    </div>
    <div class="right-article">
        <p>
            <img class="responsive" src="../../assets/190720 21_1.webp">
        </p>
        <p>
            <img class="responsive" src="../../assets/bass_drum.webp">
        </p>
    </div>
</div>