<div class="container">
    <div class="main-content">
        <article>
            <h3 style="text-align: center">
                Kansas City St. Andrew Pipes and Drums is truly the area's finest and oldest pipe and drum corps.
            </h3>
            <p>
                We have produced some of the finest musicians in the world!  For over 60 years from the humble 
                undercroft of St Andrews Church, our band has produced countless professional and Grade 1 pipers 
                and drummers. Our members have led at least two bands to North American Grade 1 Championships 
                in recent years. One of our members took first place in the World Championships for 
                Simon Fraser University. St. Andrew has competed at the highest level locally 
                and nationally, with outstanding results. 
            </p>
            <picture>
                <source media="(max-width: 600px)" srcset="../../assets/1964 Memorial_day_parade_400.jpg">
                <img class="responsive" src="../../assets/1964 Memorial_day_parade_800.jpg" alt="1964 Memorial Day Parade, North Kansas City">
            </picture>
            <p>
                Our student program is without peer locally!  We provide expert instruction from 
                professional level players with top grade 1 bands to new pipers and drummers 
                weekly at no charge.  New members are welcome at any age!  
            </p>
            <p>
                New players are taught the ancient art of pipe and drum music, performance etiquette, 
                and held to a high standard of musical technique.  As students make the grade for 
                the band, they are provided with kilts, vests, and other items at no charge. 
                The band does not charge dues. Several young students have moved quickly 
                through the band grades to become top-rated soloists at the Winter Storm 
                annual international competition. 
            </p>
            <ul>
                <li>The band has traveled in recent years to compete in Chicago, Tulsa, Colorado, Minnesota, Wisconsin, and Canada.</li>
                <li>The band has been the group of choice for international recording stars such as the Chieftains and the Elders.</li>
                <li>They have opened for Rod Stewart at Kemper Arena.</li>
                <li>They have played by invitation at military, firefighter, and law enforcement funerals. </li>
                <li>They play annually at the Special Forces Ball and many other community events. </li>
            </ul>
            <picture>
                <source media="(max-width: 600px)" srcset="../../assets/2024_st_louis_400.jpg.jpg">
                <img class="responsive" src="../../assets/2024_st_louis_800.jpg" alt="2022 Tulsa ScotFest Band Photo">
            </picture>
            <p>
                Band members become good friends and enjoy the common bond of the journey 
                for musical excellence. St. Andrew welcomes new players and helps them network 
                into our community if transferred from out of town. The band provides a welcoming, 
                nurturing, team-oriented environment to all of its members and enjoys a great team spirit!
            </p>
            
        </article>
    </div>
    <div class="left-article">
        <mat-card>
            <mat-card-header>
                <mat-card-title>Hire Us</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <p>
                    We are available for private performances and members are available for solo or small group engagements. 
                    Check the <a [routerLink]="['/hire']">Hire us</a> page for more details or contact our Business Manager, Rory McKee  
                    (<a href="mailto:BusinessManager@kcpipeband.org" target="_self">BusinessManager&#64;kcpipeband.org</a>), for more info!
                </p>    
            </mat-card-content>
        </mat-card>
        <mat-card>
            <mat-card-header>
                <mat-card-title>Join the Band</mat-card-title>
                <mat-card-subtitle>Practice and Instruction</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <p>
                    We proudly offer piping and drumming instruction at no cost to those interested in joining the band. We
                    offer lessons in the great highland bagpipes, the Scottish snare drum, the tenor or bass drums, from
                    some of the top competitive pipers and drummers in North America. 
                    The Kansas City St. Andrew Pipes & Drums practices Tuesday nights from 7:00PM to 9:00PM at St. Andrew's Episcopal Church.
                </p>
                <p>
                    <b>Bagpipe Students</b><br>
                    Please contact our bagpipe student coordinator, Dorothy May (<a href="mailto:BagpipeLessons@kcpipeband.org?subject=I'd like info on piping lessons!" target="_self">BagpipeLessons&#64;kcpipeband.org</a>).
                </p>
                <p>
                    <b>Drum Students (Snare, Tenor & Bass)</b><br>
                    Please contact our Drum Sergeant, Kyle Womelduff (<a href="mailto:DrumLessons@kcpipeband.org?subject=I'd like info on drumming!" target="_self">DrumLessons&#64;kcpipeband.org</a>).
                </p>
                <p>
                    Practice Address:<br><a href="https://goo.gl/maps/53YHKBX58Lx6jknA7" target="_blank">St Andrew's Episcopal Church<br>6401 Wornall Terrace, Kansas City, MO 64113</a>
                </p>        
            </mat-card-content>
        </mat-card>
    </div>

    <div class="right-article">
        <mat-card>
            <mat-card-header>
                <mat-card-title>60 years of Piping</mat-card-title>
                <mat-card-subtitle>KCUR Radio Feature</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <p>
                    KCUR features Kansas City's oldest and finest band as we celebrate over 60 years of service to the community
                </p>
                <a
                    target="_blank"
                    href="https://www.kcur.org/arts-life/2022-03-11/3-generations-of-this-pipe-and-drum-band-have-helped-kansas-city-celebrate-st-patricks-day?fbclid=IwAR0j2HYvP8BTFg_dLa-83wThedkWC_oTajqLA1xCl0okcIhnX0YL7TbxjnM">
                    Read full story here...
                </a>
            </mat-card-content>
        </mat-card>
    </div>
</div>