<div class="container">
    <div class="title">
        <div class="container">
        <div class="title-icon-grid">
            <img id="title-icon" src="../../assets/band_logo.webp" alt="band logo">
        </div>
        <div class="title-grid">
            <h1 id="title-text">Welcome to the Kansas City St. Andrew Pipes & Drums</h1>
        </div>
        </div>
    </div>
    <div class="main-content">
        <article>
            <p>For 60 years we have worked to preserve the traditional music of Scotland, and to further the Scottish
                arts in Kansas City and abroad. The band was founded in 1962 and incorporates the talents of over forty
                musicians, ranging in age from teens to over seventy. We are primarily a community-oriented band
                committed to furthering the development of piping and drumming in Kansas City and the Midwest.
            </p>
            <img class="responsive"  src="../../assets/1964 Memorial_day_parade.webp" alt="1964 Memorial Day Parade, North Kansas City">
            <p>We currently field a Grade V competition band. In addition to our many successes over the years in band
                events, including second place in piping at the World Pipe Band Championships (Grade 3-A 2001), many of
                our members have competed and taken prizes in some of the most prestigious solo piping and drumming
                contests in North America, with over eight of our members competing in the professional grade, and with
                several more competing at the grade one and two levels. But foremost, we pride ourselves in being a
                family-oriented organization.
            </p>
            <img class="responsive" src="../../assets/2022_Tulsa_ScotFest.webp" alt="2022 Tulsa ScotFest">
            <p>The band actively supports the cultural diversity of Kansas City through participation in the Kansas City
                St. Andrew Society's Robert Burns dinner, the Snake Saturday parade, the Kansas City St. Patrick's Day
                Parade, many graduations around the region, the Ethnic Enrichment Festival, the KC Irish Festival, the
                Kirkin' of the Tartans at Grace and Holy Trinity Cathedral, our services to the Kansas City St. Andrew
                Society, and many, many other events.
            </p>
        </article>
    </div>
    <div class="left-article">
        <mat-card>
            <mat-card-header>
                <mat-card-title>Hire Us</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <p>
                    We are available for private performances and members are available for solo or small group engagements. 
                    Check the <a [routerLink]="['/hire']">Hire us</a> page for more details or contact our Business Manager, 
                    <a href="mailto:BusinessManager@kcpipeband.org" target="_self">Rory McKee</a>, for more info!
                </p>    
            </mat-card-content>
        </mat-card>
        <mat-card>
            <mat-card-header>
                <mat-card-title>Join the Band</mat-card-title>
                <mat-card-subtitle>Practice and Instruction</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <p>
                    We proudly offer piping and drumming instruction at no cost to those interested in joining the band. We
                    offer lessons in the great highland bagpipes, the Scottish snare drum, the tenor or bass drums, from
                    some of the top competitive pipers and drummers in North America. 
                    The Kansas City St. Andrew Pipes & Drums practices Tuesday nights from 7:00PM to 9:00PM at St. Andrew's Episcopal Church.
                </p>
                <p>
                    <b>Bagpipe Students</b><br>
                    Please contact our bagpipe student coordinator, <a href="mailto:BagpipeLessons@kcpipeband.org?subject=I'd like info on piping lessons!" target="_self">Dorothy May</a>.
                </p>
                <p>
                    <b>Drum Students (Snare, Tenor & Bass)</b><br>
                    Please contact our Drum Sergeant, <a href="mailto:DrumLessons@kcpipeband.org?subject=I'd like info on drumming!" target="_self">Sarah McKee</a>.
                </p>
                <p>
                    Practice Address:<br><a href="https://goo.gl/maps/53YHKBX58Lx6jknA7" target="_blank">St Andrew's Episcopal Church<br>6401 Wornall Terrace, Kansas City, MO 64113</a>
                </p>        
            </mat-card-content>
        </mat-card>
    </div>

    <div class="right-article">
        <mat-card>
            <mat-card-header>
                <mat-card-title>60 years of Piping</mat-card-title>
                <mat-card-subtitle>KCUR Radio Feature</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <p>
                    KCUR radio did a story on the the Kansas City St. Andrew Pipes and Drums have been playing for 60
                    years
                </p>
                <a
                    target="_blank"
                    href="https://www.kcur.org/arts-life/2022-03-11/3-generations-of-this-pipe-and-drum-band-have-helped-kansas-city-celebrate-st-patricks-day?fbclid=IwAR0j2HYvP8BTFg_dLa-83wThedkWC_oTajqLA1xCl0okcIhnX0YL7TbxjnM">
                    Read full story here...
                </a>
            </mat-card-content>
        </mat-card>
    </div>
</div>