<div class="container">
    <div class="main-content-header">
        <h2>Kansas City St. Andrew Pipes and Drums Playlist</h2>
        <h3>Competition Sets</h3>
    </div>
    <div class="main-content" id="msr">
        <mat-list>
            <h4 matSubheader>MSR</h4>
            <mat-list-item>Walter Douglas, M.B.E.</mat-list-item>
            <mat-list-item>Because He Was a Bonnie Lad</mat-list-item>
            <mat-list-item>The Keel Row</mat-list-item>
            <mat-list-item>The High Road to Linton</mat-list-item>
            <mat-list-item>Lexy McAskill</mat-list-item>
        </mat-list>
    </div>
    <div class="main-content" id="medley">
        <mat-list>
            <h4 matSubheader>Medley</h4>
            <mat-list-item>John Campbell</mat-list-item>
            <mat-list-item>Seonaidh's Tune</mat-list-item>
            <mat-list-item>The Sound of Sleat</mat-list-item>
            <mat-list-item>On the Turning Away</mat-list-item>
            <mat-list-item>Kesh Jig</mat-list-item>
        </mat-list>
    </div>
    <div class="main-content-left">
        <h3>Performance Sets</h3>
        <mat-list>
            <h4 matSubheader>2/4 Marches</h4>
            <mat-list-item>Highland Laddie</mat-list-item>
            <mat-list-item>Black Bear</mat-list-item>
            <mat-divider></mat-divider>
            <h4 matSubheader>3/4 Marches</h4>
            <mat-list-item>Lochanside</mat-list-item>
            <mat-list-item>Highland Brigade at Magersfontein</mat-list-item>
            <mat-list-item>Green Hills of Tyrol</mat-list-item>
            <mat-list-item>Balmoral</mat-list-item>
            <mat-list-item>When the Battle is O'er</mat-list-item>
            <mat-list-item>Shoals of Herring</mat-list-item>
            <mat-divider></mat-divider>
            <h4 matSubheader>4/4 Marches</h4>
            <mat-list-item>Wings</mat-list-item>
            <mat-list-item>Rowan Tree</mat-list-item>
            <mat-list-item>Gardens of Skye</mat-list-item>
            <mat-list-item>Scotland the Brave</mat-list-item>
            <mat-list-item>We're no Awa'</mat-list-item>
            <mat-list-item>Caber Feidh</mat-list-item>
            <mat-list-item>Waltzing Matilda</mat-list-item>
            <mat-list-item>Wearin' o' the Green</mat-list-item>
            <mat-list-item>Minstrel Boy</mat-list-item>
            <mat-list-item>Dawning of the Day</mat-list-item>
        </mat-list>
    </div>
    <div class="main-content-right">
        <mat-list>
            <h4 matSubheader>6/8 Marches</h4>            
            <mat-list-item>Donald MacLean of Lewis</mat-list-item>
            <mat-list-item>Jean Mauchline</mat-list-item>
            <mat-list-item>Doctor Rosss 50th Welcome to the Argyllshire Gathering</mat-list-item>
            <mat-list-item>The Piobaireachd of Donald Dubh</mat-list-item>
            <mat-list-item>Glendaruel Highlanders</mat-list-item>
            <mat-list-item>Bonny Dundee</mat-list-item>
            <mat-divider></mat-divider>
            <h4 matSubheader>Slow Airs</h4>
            <mat-list-item>Amazing Grace</mat-list-item>
            <mat-list-item>Rest Me Easy</mat-list-item>
            <mat-list-item>Hard Times</mat-list-item>
            <mat-list-item>Skye Boat Song</mat-list-item>
            <mat-divider></mat-divider>
            <h4 matSubheader>Jigs</h4>
            <mat-list-item>Scarce O’ Tatties</mat-list-item>
            <mat-list-item>Rocking the Baby</mat-list-item>
            <mat-list-item>Jig of Slurs</mat-list-item>
        </mat-list>
    </div>
</div>