<div class="container">
    <div class="main-content">
        <h2>Kansas City St. Andrew Pipes and Drums Playlist</h2>
        <h3>Competition Sets</h3>
        <mat-list>
            <h4 matSubheader>Quick March Medley</h4>
            <mat-list-item>Kilworth Hills</mat-list-item>
            <mat-list-item>Remembering Doctor Wallace</mat-list-item>
            <mat-list-item>Killiecrankie</mat-list-item>
            <mat-list-item>Jimmy Findlater</mat-list-item>
        </mat-list>
    </div>
    <div class="main-content-left">
        <h3>Performance Sets</h3>
        <mat-list>
            <h4 matSubheader>2/4 Marches</h4>
            <mat-list-item>Highland Laddie/Black Bear</mat-list-item>
            <mat-divider></mat-divider>
            <h4 matSubheader>3/4 Marches</h4>
            <mat-list-item>Lochanside/ Highland Brigade at Magersfontein</mat-list-item>
            <mat-list-item>Green Hills of Tyrol/ Balmoral</mat-list-item>
            <mat-list-item>When the Battle is O'er/ Shoals of Herring</mat-list-item>
            <mat-divider></mat-divider>
            <h4 matSubheader>4/4 Marches</h4>
            <mat-list-item>Wings/Rowan Tree/Gardens of Skye</mat-list-item>
            <mat-list-item>Scotland the Brave/We're no Awa'</mat-list-item>
            <mat-list-item>Caber Feidh</mat-list-item>
            <mat-list-item>Waltzing Matilda</mat-list-item>
            <mat-list-item>Wearin' o' the Green/Minstrel Boy</mat-list-item>
            <mat-list-item>Dawning of the Day</mat-list-item>
        </mat-list>
    </div>
    <div class="main-content-right">
        <mat-list>
            <h4 matSubheader>6/8 Marches</h4>
            <mat-list-item>Cock o' the North</mat-list-item>
            <mat-list-item>Glendaruel Highlanders/Bonny Dundee</mat-list-item>
            <mat-list-item>Leaving Port Askaig</mat-list-item>
            <mat-list-item>Skye Boat Song/Donald MacLean of Lewis</mat-list-item>
            <mat-list-item>Jean Mauchline</mat-list-item>
            <mat-divider></mat-divider>
            <h4 matSubheader>Slow Airs</h4>
            <mat-list-item>Amazing Grace/Rest Me Easy</mat-list-item>
            <mat-list-item>Hard Times</mat-list-item>
            <mat-divider></mat-divider>
            <h4 matSubheader>Jigs</h4>
            <mat-list-item>Scarce O’ Tatties/ Rocking the Baby/ Jig of Slurs</mat-list-item>
        </mat-list>
    </div>
</div>