<div class="container">
    <div class="main-content">        
        <mat-card>
            <mat-card-header>
                <mat-card-title>Competition Score Sheets</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
                    <ng-container matColumnDef="date">
                        <th mat-header-cell *matHeaderCellDef> Date </th>
                        <td mat-cell *matCellDef="let element"> {{element.date | date}} </td>
                    </ng-container>
                    <ng-container matColumnDef="highlandGames">
                        <th mat-header-cell *matHeaderCellDef> Highland Games</th>
                        <td mat-cell *matCellDef="let element"> {{element.highlandGames}} </td>
                    </ng-container>
                    <ng-container matColumnDef="grade">
                        <th mat-header-cell *matHeaderCellDef> Grade </th>
                        <td mat-cell *matCellDef="let element"> {{element.grade}} </td>
                    </ng-container>
                    <ng-container matColumnDef="event">
                        <th mat-header-cell *matHeaderCellDef> Event </th>
                        <td mat-cell *matCellDef="let element"> {{element.event}} </td>
                    </ng-container>
                    <ng-container matColumnDef="place">
                        <th mat-header-cell *matHeaderCellDef> Place </th>
                        <td mat-cell *matCellDef="let element"> {{element.place}} </td>
                    </ng-container>
                    <ng-container matColumnDef="totalPoints">
                        <th mat-header-cell *matHeaderCellDef> Total </th>
                        <td mat-cell *matCellDef="let element"> {{element.totalPoints}} </td>
                    </ng-container>
                    <ng-container matColumnDef="pipingJudge1">
                        <th mat-header-cell *matHeaderCellDef> Piping Judge </th>
                        <td mat-cell *matCellDef="let element"> {{element.pipingJudge1}} </td>
                    </ng-container>
                    <ng-container matColumnDef="pipingJudge2">
                        <th mat-header-cell *matHeaderCellDef> Piping Judge </th>
                        <td mat-cell *matCellDef="let element"> {{element.pipingJudge2}} </td>
                    </ng-container>
                    <ng-container matColumnDef="drummingJudge">
                        <th mat-header-cell *matHeaderCellDef> Drumming Judge </th>
                        <td mat-cell *matCellDef="let element"> {{element.drummingJudge}} </td>
                    </ng-container>
                    <ng-container matColumnDef="ensembleJudge">
                        <th mat-header-cell *matHeaderCellDef> Ensemble Judge </th>
                        <td mat-cell *matCellDef="let element"> {{element.ensembleJudge}} </td>
                    </ng-container>
                    <ng-container matColumnDef="pdfPath">
                        <th mat-header-cell *matHeaderCellDef> Sheets </th>
                        <td mat-cell *matCellDef="let element"> <a href="{{element.pdfPath}}" target="_blank" rel="noopener noreferrer" >PDF</a></td>
                    </ng-container>                  
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                  </table>
            </mat-card-content>
        </mat-card>
        <mat-card>
            <mat-card-header>
                <mat-card-title>Helpful Videos</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <h4>Stretches</h4>
                <p>
                    <iframe class="youtube-video" src="https://www.youtube.com/embed/_jWxIPrBSdQ" title="Finger & Upper Extremity Stretches for Musicians" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                    <iframe class="youtube-video" src="https://www.youtube.com/embed/qgIXpSup93s" title="Bagpiping Warm-Up Stretches" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </p>
                <h4>Bagpipes</h4>
                <p>
                    <iframe class="youtube-video" src="https://www.youtube.com/embed/ZTdY671h2io" title="How to Tie Your Bagpipe Drone Cords" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                    <iframe class="youtube-video" src="https://www.youtube.com/embed/ZodkXZ18F48" title="How to Tie Ghillie Brogues" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </p>
                <h4>Uniform</h4>
                <p>
                    <iframe class="youtube-video" src="https://www.youtube.com/embed/30hRwx0kqHQ" title="How to Tie Ghillie Brogues" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                    <iframe class="youtube-video" src="https://www.youtube.com/embed/4quZookqeHE?si=p2jl4c_SbIpzvsaR" title="How to Wear Flashes" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                    <iframe class="youtube-video" src="https://www.youtube.com/embed/zMNc1HfUSQE?si=UEE-1KN-P2Ck0Rq2" title="Where Do You Wear a Kilt Pin?" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                    <iframe class="youtube-video" src="https://www.youtube.com/embed/F55ogSPSF9I?si=8fNCU4SjCQIyRGgK" title="How can you avoid losing your kilt pin?" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </p>
            </mat-card-content>
        </mat-card>
        <!--<mat-card>
            <mat-card-header>
                <mat-card-title>Kilt Pin</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <stl-model-viewer [stlModels]="['../../assets/KCSAPB_Kilt_Pin.stl']" style="height: 450px;"></stl-model-viewer>
                <stl-model-viewer [stlModels]="['../../assets/KCSAPB_Cap_Badge.stl']"></stl-model-viewer>
            </mat-card-content>
        </mat-card>
        -->
        <mat-card>
            <mat-card-header>
                <mat-card-title>
                    Band Constitution 
                    <button mat-icon-button color="primary" (click)="downloadBandConstitutionPDF()" style="display: inline-block" matTooltip="Download Band Constitution PDF" aria-label="Download Band Constitution PDF">
                        <mat-icon>download</mat-icon>
                    </button>
                </mat-card-title>
            </mat-card-header>
            
            <mat-card-content>
                <pdf-viewer [src]="bandConstitutionPdfSrc"
                            [render-text]="true"
                            [original-size]="false"
                            [autoresize]="true"
                            style="max-width: 800px; height: 800px"
                ></pdf-viewer>
            </mat-card-content>
        </mat-card>        
    </div>
    <div class="right-article">
        <mat-card>
            <mat-card-header>
                <mat-card-title>Band Officer Emails</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <mat-list>
                    <mat-list-item>
                        <span matListItemTitle>Pipe Major</span>
                        <span matListItemLine>Iain McKee</span>
                        <span matListItemLine><a href="mailto:iain.j.mckee@gmail.com" target="_self">iain.j.mckee&#64;gmail.com</a></span>
                    </mat-list-item>
                    <mat-list-item>
                        <span matListItemTitle>Pipe Sergeant</span>
                        <span matListItemLine>Griffin Hall</span>
                        <span matListItemLine><a href="mailto:griffinthepiper@gmail.com" target="_self">griffinthepiper&#64;gmail.com</a></span>
                    </mat-list-item>
                    <mat-list-item>
                        <span matListItemTitle>Drum Major</span>
                        <span matListItemLine>Frank Breshears</span>
                        <span matListItemLine><a href="mailto:fbreshears@spectrum.net" target="_self">fbreshears&#64;spectrum.net</a></span>
                    </mat-list-item>
                    <mat-list-item>
                        <span matListItemTitle>Drum Sergeant</span>
                        <span matListItemLine>Kyle Womelduff</span>
                        <span matListItemLine><a href="mailto:kyle.womelduff@gmail.com" target="_self">kyle.womelduff&#64;gmail.com</a></span>
                    </mat-list-item>
                    <mat-list-item>
                        <span matListItemTitle>President</span>
                        <span matListItemLine>Kathy Burke-Thomas</span>
                        <span matListItemLine><a href="mailto:kathyburkethomas@gmail.com" target="_self">kathyburkethomas&#64;gmail.com</a></span>
                    </mat-list-item>
                    <mat-list-item>
                        <span matListItemTitle>Treasurer</span>
                        <span matListItemLine>Mark Spengler</span>
                        <span matListItemLine><a href="mailto:mspengler@comcast.net" target="_self">mspengler&#64;comcast.net</a></span>
                    </mat-list-item>
                    <mat-list-item>
                        <span matListItemTitle>Business Manager</span>
                        <span matListItemLine>Rory McKee</span>
                        <span matListItemLine><a href="mailto:rory.j.mckee@gmail.com" target="_self">rory.j.mckee&#64;gmail.com</a></span>
                    </mat-list-item>
                    <mat-list-item>
                        <span matListItemTitle>Public Relations Manager</span>
                        <span matListItemLine>Kevin Regan</span>
                        <span matListItemLine><a href="mailto:thefirm@reganlawfirm.com" target="_self">thefirm&#64;reganlawfirm.com</a></span>
                    </mat-list-item>
                    <mat-list-item>
                        <span matListItemTitle>Quartermaster</span>
                        <span matListItemLine>Susan Speck</span>
                        <span matListItemLine><a href="mailto:llywhite54@yahoo.com" target="_self">llywhite54&#64;yahoo.com</a></span>
                    </mat-list-item>
                </mat-list>
            </mat-card-content>
        </mat-card>
        <mat-card>
            <mat-card-header>
                <mat-card-title>Band Roster</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <p>
                    You can download the latest copy of the band's roster here.  This file contains the active, associate, and student members of the band along with contact information. 
                    <br><a href="../../assets/Band_Roster.xlsx" target="_blank" rel="noopener noreferrer" >Band Roster Excel Workbook</a>
                </p>
            </mat-card-content>
        </mat-card>
        <mat-card>
            <mat-card-header>
                <mat-card-title>Competition Travel Reimbursement Policy</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <p>
                    You can download the latest copy of the band's travel reimbursement policy.  This file details the process of how to get reimbursed for hotel and fuel expenses when traveling to competitions. 
                    <br><a href="../../assets/KCSA Travel Reimbursement Policy 03.03.23.docx" target="_blank" rel="noopener noreferrer" >Competition Travel Reimbursement Policy Word Doc</a>
                </p>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="left-article">
        <mat-card>
            <mat-card-header>
                <mat-card-title>Useful Downloads</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <ul>
                    <li><a href="https://drive.google.com/drive/folders/1WnbNYXkCRuPs4PhI3cn4KcdfWhkYkk3p?usp=sharing" target="_blank" rel="noopener noreferrer">St. Andrew Sheet Music and Recordings - Google Drive</a></li>
                    <li>
                        <mat-icon aria-hidden="false" aria-label="New Content" fontIcon="fiber_new"></mat-icon>
                        <a href="../../assets/KCSAPB_Cap_Badge.stl" target="_blank" rel="noopener noreferrer">Band Cap Badge 3D File</a> 
                        <button mat-icon-button (click)="openPreviewStlDialog('../../assets/KCSAPB_Cap_Badge.stl')" matTooltip="Preview 3D model"><mat-icon>preview</mat-icon></button>
                    </li>
                    <li>
                        <mat-icon aria-hidden="false" aria-label="New Content" fontIcon="fiber_new"></mat-icon>
                        <a href="../../assets/KCSAPB_Kilt_Pin.stl" target="_blank" rel="noopener noreferrer">Band Kilt Pin 3D File</a> 
                        <button mat-icon-button (click)="openPreviewStlDialog('../../assets/KCSAPB_Kilt_Pin.stl')" matTooltip="Preview 3D model"><mat-icon>preview</mat-icon></button>
                    </li>
                    <li><a href="" target="_blank" rel="noopener noreferrer" (click)="downloadDrumMajorPDF()">Download Drum Major Manual PDF</a></li>
                </ul>
            </mat-card-content>
        </mat-card>
        <mat-card>
            <mat-card-header>
                <mat-card-title>Useful Information</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <ul>
                    <li>
                        <mat-icon aria-hidden="false" aria-label="New Content" fontIcon="fiber_new"></mat-icon>
                        <a href="https://youtube.com/playlist?list=PLQQZswSWPMSihz8F97P4Xij7SJUM_CmPo" target="_blank" rel="noopener noreferrer">2024 St Andrews Concert YouTube Playlist</a>
                    </li>
                    <li><a href="https://www.jhiggins.net/blog/checklist-for-a-comfortable-bagpipe/" target="_blank" rel="noopener noreferrer">Checklist for a Comfortable Bagpipe</a></li>
                    <li><a href="https://www.jhiggins.net/blog/proper-aftersession-care-for-your-bagpipes/" target="_blank" rel="noopener noreferrer">Proper After-Session Care for your Bagpipes</a></li>
                    <li><a href="https://www.jhiggins.net/blog/10-tips-for-a-more-fufilling-practice-on-your-bagpipes/" target="_blank" rel="noopener noreferrer">10 Tips for a more Fufilling Practice on your Bagpipes</a></li>
                    <li><a href="https://www.jhiggins.net/blog/how-does-temperature-moisture-and-storage-affect-my-bagpipes/" target="_blank" rel="noopener noreferrer">How does Temperature, Moisture, and Storage affect my Bagpipes?</a></li>
                    <li><a href="https://www.jhiggins.net/blog/how-should-i-wear-my-kilt-outfit/" target="_blank" rel="noopener noreferrer">How Should I Wear my Kilt Outfit?</a></li>
                </ul>
            </mat-card-content>
        </mat-card>
    </div>
</div>
